Repository Schmiddl99/experimenteverwaltung-i2, pull requests merged in 2020-12, with the labels that each got.

#32 add architecture notebook;
  Dokumentationen/architecture/architecture_notebook.adoc
Labels: architecture, documentation

#9 Vision;Glossareintrag;project-name(default)
  Dokumentationen/_includes/default-attributes.inc.adoc
  Dokumentationen/project_management/iteration_plan_01.adoc
  Dokumentationen/project_management/project_plan.adoc
  Dokumentationen/requirements/Glossar.adoc
  Dokumentationen/requirements/vision.adoc
Labels: documentation, help wanted

#55 54 tobias adjust iteration plan
  Dokumentationen/project_management/iteration_plan_01.adoc
  Dokumentationen/requirements/Glossar.adoc
  Dokumentationen/requirements/vision.adoc
Labels: documentation, project management

#53 Begriffsanpassungen in Vision
  Dokumentationen/requirements/Glossar.adoc
Labels: documentation, requirements

#37 Visions- und Glossaranpassung
  Dokumentationen/requirements/Glossar.adoc
  Dokumentationen/requirements/vision.adoc
Labels: documentation, requirements

#63 Übernahme des aktuellen Standes (27.12.2020) der SWRs in .adoc-Format
  Dokumentationen/requirements/system-wide_requirements.adoc
Labels: documentation

#61 iterationplan: add issues
  Dokumentationen/project_management/iteration_plan_01.adoc
  Dokumentationen/project_management/project_plan.adoc
Labels: documentation, project management
